.text-root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.text-container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
}
