.greeter-root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 480px) {
  .greeter-root {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
}
